# --- Python Virtual Environments ---
env_nova/
venv/
.venv/
env/
bin/
lib/
include/

# --- Python Cache & Compiled files ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- AI Models & Weights (Nên chặn vì file rất nặng) ---
models/*.h5
models/*.pt
models/*.bin
models/*.pth
# Nếu bạn tải model trực tiếp vào code thì chặn thư mục chứa cache của transformers
.cache/

# --- Environment Variables (Bảo mật thông tin quan trọng) ---
.env
.venv
*.env

# --- OS specific files ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs (VS Code, PyCharm) ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs & Databases ---
*.log
*.sqlite3
data/eng_sentences.tsv.bz2
data/faiss_multilingual.index
data/faiss.index
data/metadata_multilingual.parquet
data/metadata.parquet
data/current.parquet
data/current.index
data/faiss_*.index
data/metadata_*.parquet
